/* TODO:
1. REFACTOR Position content block in the middle
2. Set-up bg-image: shadow, reesizing and etc */

.autorent {
  height: 100%;

  background-image: url(../../assets/icons/transfer-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  &__header {
    max-height: 20%;

    display: block;
  }

  &__body {
    height: 80%;

    display: flex;
    align-items: center;
  }
}

.content {
  width: 600px;
  padding-left: 40px;

  font-weight: 600;

  & > p {
    padding-bottom: 64px;
  }
}
