.button {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;

  padding: 20px 32px;

  color: #fff;

  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #eeeeee;
  text-decoration: none;

  cursor: pointer;

  &__big {
    width: 100%;
  }
}
