@font-face {
  font-family: 'TT Travels';
  src: local('TT Travels-Regular'), url('./TT\ Travels-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Travels';
  src: local('TT Travels-DemiBold'), url('./TT\ Travels-DemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'TT Travels';
  src: local('TT Travels-Bold'), url('./TT\ Travels-Bold.otf') format('opentype');
  font-weight: 700;
}
