.adressbar {
  max-height: 40px;

  padding: 8px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #020206;
  background-color: #fff;

  & > p {
    font-weight: 600;
  }
}

.navbar {
  padding: 0 40px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  font-weight: 700;
  color: #fff;

  border-bottom: 1px solid #ffffff4d;

  &__logo_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & nav > ul {
    display: flex;
    gap: 80px;

    & a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__icons {
    display: flex;
    gap: 40px;
  }
}
