@import './assets/fonts/fonts.scss';

html {
  scroll-behavior: smooth;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

body {
  margin: 0;

  font-family: 'TT Travels';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #020206;
  color: #fff;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
