/* TODO
Move fonts to own file
*/

@font-face {
  font-family: 'TT Travels';
  src: local('TT Travels-Regular'), url('./assets/fonts/TT\ Travels-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Travels';
  src: local('TT Travels-DemiBold'),
    url('./assets/fonts/TT\ Travels-DemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'TT Travels';
  src: local('TT Travels-Bold'), url('./assets/fonts/TT\ Travels-Bold.otf') format('opentype');
  font-weight: 700;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

body {
  margin: 0;

  font-family: 'TT Travels';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #020206;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
